<form method="POST" action="/course/handleFormsAction" class="container">
    <div class="mt-4">
        <div style="display: flex;justify-content: space-between;">
            <div class="h3">
                Khóa học của tôi
            </div>
            <div class="h3">
                <a href="/course/create" style="text-decoration: none;color: red;">
                    Tạo mới khóa học
                </a>
            </div>
        </div>
        <a href="/me/trash/course" style="text-decoration:none">
            Thùng rác {{count}}
        </a>
        <div class="d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkAll">
                <label class="form-check-label" for="checkAll" 
                    style="webkit-user-select: none;-moz-user-select: none;user-select: none;">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-select form-select-action" name="action" aria-label="Default select example" required>
                <option value="">--Hành động--</option>
                <option value="delete">Xóa</option>
            </select>
            <button type="submit" class="btn btn-primary btn-action" disabled>Action</button>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" colspan="2">
                        STT
                        {{{sortable '_id' _sort}}}
                    </th>
                    <th scope="col">
                        Tên khóa học
                        {{{sortable 'name' _sort}}}
                    </th>
                    <th scope="col" >
                        Trình độ
                        {{{sortable 'level' _sort}}}
                      
                    </th>
                    <th scope="col" colspan = "4">
                        Thời gian tạo
                        {{{sortable 'createdAt' _sort}}}
                      
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each course}}
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" id="flexCheckDefault">
                            </div>
                        </td>
                        <th scope="row">{{this._id}}</th>
                        <td>
                            <a style="text-decoration:none;color:rgb(51, 51, 144)" href="/course/{{this.slug}}">{{this.name}}</a>
                        </td>
                        <td>{{this.level}}</td>
                        <td>{{this.createdAt}}</td>
                        <td><a href="/course/{{this._id}}/edit" class="btn btn-light">Sửa</a></td>
                        <td><a href="" class="btn btn-light" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course">Xóa</a></td>
                    </tr>
                {{else}}
                    <tr>
                        <th colspan="5" class="text-center">
                            Bạn chưa đăng khóa học nào
                            <a href="/course/create">Click để đăng</a>
                        </th>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" id="delete-course" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khóa học này ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete" type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>
<form method="POST" name="delete-course-form" ></form>



<script>
    document.addEventListener("DOMContentLoaded",function(){
        var courseId;
        var formDelete = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete'); 
        var checkItemCourseBtn = $('input[name="courseIds[]"]');
        var checkAllBtn = $('#checkAll');
        var btnAction = $('.btn-action');
        function renderStatusAction(){
            if ($('input[name="courseIds[]"]:checked').length > 0){
                btnAction.attr('disabled',false);
            } else {
                btnAction.attr('disabled',true);
            }
        }

        $('#delete-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            courseId = button.data('id') 
        })
        btnDeleteCourse.onclick = function () {
            formDelete.action = "/course/" + courseId + "?_method=DELETE";
            formDelete.submit()
        }
        checkAllBtn.change(function(){
            checkItemCourseBtn.prop('checked',checkAllBtn.prop('checked'))
            renderStatusAction();
        });
        checkItemCourseBtn.change(function(){
            var isCheckAll =  checkItemCourseBtn.length === $('input[name="courseIds[]"]:checked').length;
            checkAllBtn.prop('checked',isCheckAll);
            renderStatusAction();
        });
    })
</script>