<div class="mt-4" style="overflow: hidden">
    <div class="row">
        {{#each Courses}}
        <div class="col-sm-12 col-lg-4 mt-4">
            <div class="card" style="width: 95%;margin:auto">
                <a href="/course/{{this.slug}}">
                    <img class="card-img-top" 
                    src="https://img.youtube.com/vi/{{this.videoId}}/sddefault.jpg" 
                    alt="{{this.description}}" 
                    style="object-fit: cover;
                    object-position: center;
                    height: 307px;">
                </a>
                <div class="card-body">
                    <a href="/course/{{this.slug}}" style="text-decoration: none; color:#333">
                        <h5 class="card-title card-title-edit">{{this.name}}</h5>
                    </a>
                    <p class="card-text card-text-edit">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div> 
        </div>
        {{/each}}
    </div>
</div>